.search-container {
    background-color: #3f2b1d;
    display:flex;
    justify-content: center;
}
.subheader {
    background-color:black;
    color: white;
    font-size: 18px;
    overflow:hidden;
    white-space: nowrap;
}
.subheader span {
    display: inline-block;
     padding-left: 100%;
     animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.search-wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    padding: 12px;
}

.filter-dropdown {
    display:grid;
    border-radius: 10px;
    justify-content:center;
    background-color: #6e604b;
    padding: 10px;
    gap: 12px;
}
.additional-filter-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.book-search-bar {
    padding-left:10px;
    border-radius: 20px;
    min-width:500px;
}

.additional-search-bar {
    padding-left:10px;
    border-radius: 20px;
    min-width: 300px;
}

.additional-filter-label {
    font-size: 22px;
}
 mat-icon {
    color: white; 
  }