:host {
    display: block;
    background: url('/assets/patterned-books.jpg') repeat;
      min-height: 100vh;
}

.book-detail-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding :30px;
}

.book-info-container {
    background-color: rgb(151, 136, 118);
    border-radius: 10px;
    padding: 20px;
}