.book-list-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
}

.loading-container {
    display: flex;
  justify-content: center; // horizontal center
  margin-top: 80px; 
}

.loading-spinner {
  border: 4px solid rgba(0,0,0,0.1);
  border-top: 4px solid #fafafa;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 0 auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}